<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDt8zu31kUh2TX9Lzh0wjfQHmu6OFUyA-c</string>
	<key>GCM_SENDER_ID</key>
	<string>303386496023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>skypi.in.skypi</string>
	<key>PROJECT_ID</key>
	<string>skypi-8a884</string>
	<key>STORAGE_BUCKET</key>
	<string>skypi-8a884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303386496023:ios:9ff49507fffe1c27e32052</string>
</dict>
</plist>